{% extends 'base.html' %}


{% load static %}


{% block body %}



<section class="sub-banner_section">
    <figure class="banner-backgroundimage mb-0">
        <img src="{% static 'assets/images/Contact-us-banner-image6.png' %}" alt="" class="img-fluid">
    </figure>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
                <div class="banner_content" data-aos="fade-up">
                    <h1>Our Blogs</h1>
                   
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-4 col-sm-12 col-12 d-lg-block d-none">
            </div>
        </div>
    </div>
</section>
</div>
<!-- Projects -->
<section class="projectpage-section">
<div class="container-fluid"> 
    <div class="row">
        <div class="col-12">
            <div class="subheading">
                <h2>Latest Updates</h2>
            </div>
        </div>
    </div>
    <div class="tabs-box tabs-options">
       
        
        <div class="tab-content">

            
            <div id="residential" class="tab-pane fade in active show">
                <div class="middle-image">
                    <div class="row">

                        {% for post in post_list%}


                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 p-0 pr-sm-1 py-md-1">
                            <div class="image overlay">
                                <figure class="tab-image mb-0">
                                    <img
                                        width="610"
                                        height="750"
                                        class="img-fluid"
                                        src="{{post.image.url}}"
                                        alt="image"
                                     />
                                </figure>
                                <p> {{post}}</p>
                                <div class="icon icon5">
                                    <h4>
                                        <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor"
                                           href="{% url 'webapp:post_detail' post.id %}">
                                            View {{ post.category }}
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>


                        {% endfor %}
                       
                    </div>
                </div>                   
            </div>
            
        </div>
    </div>
</div>
</section>

{% endblock body %}